body {
font-family: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
margin: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
background: #1F2937;
}


.header {
height: 72px;
padding: inherit;
color: white;
display: flex;
justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.first_third{
    padding: 10px 50px;
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px;
    gap: 16px;
}

.hero1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    
}

.hero2 {
    font-size: 18px;
    color:#e5e7eb;
    font-weight: 100;
}

.herotextandbutton{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer {
height: 72px;
background: gray;
color: white;
display: flex;
align-items: center;
justify-content: center;
}

.header_content {
display: flex;
padding: 50px;
}

.second_third{
    background: #e5e7eb;
    flex: 1;

}

.final_third{

}

img{
   max-width: 100%;
}


.hero_img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 400px;
    
}

.information_header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 25px;
}


.links{
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb
}

.sign_up{
   
    padding: 5px 28px;
    border-radius: 6px;
    border: none;
    max-width: 125px;  
}



a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font: inherit;
}

button {
    background: #3882f6;
    color:#e5e7eb;
}
